body {
    background: #010101;
}

#nav-right-anchor {
    color: #9b9d9e;
    text-decoration: none;
}

#nav-right-anchor:hover {
    color: #c7c8c9;
}

#login-signup{
    color:#ffffff;
    text-decoration: none;
}

#content {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    text-align: center;
}

h3 {
    color:white;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
    color: white;
    font-weight: lighter;
    word-spacing: 5px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    width: 16vw;
    margin-left: -12px;
    height: 220px;
}

.qty{
    color: black;
}