<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shop Page to browse fitness products">
    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- fafa icons -->
    <script src="https://use.fontawesome.com/3bd3118bc2.js"></script>
    <link rel="stylesheet" href="..\css\shop.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>FitNice | Shop</title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3QPYGF3H20"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3QPYGF3H20');
</script>

<body ng-app="Shop">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #3f4f5a;">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">FitNice</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " href="../index.html"><i class="fa fa-home fa-fw"
                                aria-hidden="true"></i>&nbsp;Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html"><i class="fa fa-comment"
                                aria-hidden="true"></i>&nbsp;Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="shop.html"><i class="fa fa-shopping-bag"
                                aria-hidden="true"></i>&nbsp;Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cart.html"><i class="fa fa-shopping-cart"></i>&nbsp;Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="content1">
        <h1>Shop</h1>
        <h4>.One Stop Shop For Everyone.</h4>
        <div class="container text-dark my-4 bg-dark" ng-controller="MainController">
            <div id="catalog my-5">
                &nbsp;
                <div class="row text-light">
                    <div class="col-3 mx-5 my-3" ng-repeat="item in list">
                        <div class="content">
                            <div class="card">
                                <div class="imgBx">
                                    <img src="{{ item.image }}" alt="...">
                                </div>
                                <div class="contentBx">
                                    <h2>{{ item.title }}</h2>
                                    <div class="size">
                                        <h3>Size :</h3>
                                        <span ng-repeat="i in item.sizes">{{ i }}</span>
                                    </div>
                                    <div class="price">
                                        <h3>Price :</h3>
                                        <span>$ {{ item.price }} </span>
                                    </div>
                                    <a href="#"> + Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>


    <script src="../JS/shop-script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>

</html>